<%- include('parts/html-head') %>
<%- include('parts/navbar') %>

<!-- <header>
    <h1>FUFU-CAT Web</h1>
    <p>介紹一下我家的貓貓們！</p>
  </header>
  
  <nav>
    <ul class="menu">
      <li><a href="#intro">關於本站</a></li>
      <li><a href="#cats">我家的貓咪</a></li>
      <li><a href="#profile">飼主介紹</a></li>
      <li><a href="/entry.html">分享貓貓</a></li>
      <li><a href="/entry.html">分享列表</a></li>
    </ul>
  </nav> -->
  
  <main id="contents">
  
  <section id="intro">
    <h2 class="h">關於本站</h2>
    <p>歡迎光臨本站。<br>
    這裡是介紹我家貓主子的曬貓網站，有大量的可愛相片。
    也有貓用品選貨店，致力於引進各種優良、高質感的寵物品牌及商品， 讓貓老大們享受溫飽的同時，也感受到身為一家人的溫暖。 <br>
    <strong>※未經許可，請勿擅自複製轉載。</strong></p>
  </section>
  
  <section id="cats">
    <h2 class="h">我家的貓咪</h2>
  
    <section>
      <h3 class="h-sub">●FUFU<span>（虎斑貓・♂）</span></h3>
      <img src="img/komachi.jpg" width="480" height="320" alt="小町" class="imgL">
      <p>出生不到1個月就抱回來的貓貓。<br>
        大眼大耳的超級帥哥，叫聲也相當可愛。可能因為童年時期是在套房渡過，對其它貓咪沒什麼興趣，個性相當自我。 最喜歡在瓦楞紙箱的邊角或柱子磨爪子。</p>
      <p class="more clear"><a href="/cats/komachi.html">更多介紹</a></p>
    </section>
  
    <section>
      <h3 class="h-sub">●LILI<span>（美國短毛貓・♀）</span></h3>
      <img src="img/konatsu.jpg" width="480" height="320" alt="小夏" class="imgR">
      <p>領養回來的貓貓。<br>
       膽子很小的笨貓貓，毛非常膨鬆，因此被我家人戲稱是「灰毛球」。 從她偏沙啞的聲音和成熟的臉孔，很難想像她其實是撒膽小鬼。看到初次見面的人，不會過去蹭來蹭去。</p>
      <p class="more clear"><a href="/cats/konatsu.html">更多介紹</a></p>
    </section>
  
  </section>
  
  
  <section id="profile" class="clearfix">
    <h2 class="h">飼主介紹</h2>
    <img src="/img/avatar.jpg" width="250" height="250" alt="大頭照" class="img-round imgL">
    <dl>
      <dt>暱稱 ：</dt><dd>Ting</dd>
      <dt>職業 ：</dt><dd>貓奴</dd>
      <dt>mail ：</dt><dd><a href="mailto:info@roka404.main.jp">info@roka404.main.jp</a></dd>
      <dt>Web ：</dt><dd><a href="http://roka404.main.jp/blog/" target="_blank">http://roka404.main.jp/blog/</a></dd>
    </dl>
  </section>
  
  </main>
  
  <footer>
    <p><small>Copyright © FUFU-CAT Web All Rights Reserved.</small></p>
  </footer>

<%- include('parts/scripts') %>
<%- include('parts/html-foot') %>